.signoutbtn {
    background-image: linear-gradient(to right, #539ac0, #3041ff);
    border: none;
    color: white;
}

.signoutbtn:hover {
    color: #fff;
    background-image: linear-gradient(to right, #7bd1ff, #4f5df8);

}

.link {
    text-decoration: none;
    margin-left: 15px;
    color: #505050;
    transition: color ease-in-out 300ms;
}


.active-link {

    text-decoration: none;
    margin-left: 15px;
    border-bottom: 2px solid #4b45f5;
    transition: color ease-in-out 300ms;
    color: #4b45f5;
}